{{! project card template -- this is used in the projects list and on user profiles }}

<div class="card my-2" id="project-{{project_id}}" style="border-color: var(--project-small_group-bg); border-width: 4px;">
    <h3 class="card-header"
        style="background: var(--project-small_group-bg); color: var(--project-small_group-text); border-radius: 0;">
        {{title}}
        <span class="float-right">

            {{! project-type badge }}
            <span class="badge mr-2 mt-1 h4"
                style="background: var(--project-small_group-bg);
                        color: var(--project-small_group-text);
                        border-color: var(--project-small_group-text);
                        border-width: 2px;
                        border-style: solid;">
            </span>


            {{!-- <a href="/project/{{project_id}}" class="btn btn-primary">
                View Details
            </a> --}}
            {{#if repository_urls}}
            {{#each repository_urls}}
            <a href="{{this}}" class="btn btn-primary">
                Repository
            </a>
            {{/each}}
            </ul>
        {{/if}}
            
        </span>
    </h3>
                            

<div class="list-group list-group-flush text-dark">
                  {{>data.semesters this}}
                   {{#each data.semesters}}
    ASD {{enrollments_aggregate.aggregate.count}} D
      {{/each}}




      {{#if data.semesters}}
    <div class="table-responsive">
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Enrollments</th>
                    <th scope="col">Projects</th>
                </tr>
            </thead>

            <tbody>
                {{#each data.semesters}}
                    <tr>
                        <th scope="row">{{title}}</th>
                        <td>{{format_date start_date}}</td>
                        <td>{{format_date end_date}}</td>

                        {{! Stats }}

                        {{#with enrollments_aggregate.aggregate}}
                            <td>{{count}}</td>
                        {{else}}
                            <td>unavailable</td>
                        {{/with}}

                        {{#with projects.aggregate}}
                            <td>{{count}}</td>
                        {{else}}
                            <td>unavailable</td>
                        {{/with}}

                        <td>
                            <a href="/admin/semesters/edit/{{semester_id}}" class="btn btn-primary">
                                Edit
                            </a>
                        </td>

                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    No semester records found.
{{/if}}






        {{#if description}}
            <div class="list-group-item">
                <small class="text-muted mb-2">
                </small>
                {{render_markdown description}}
            </div>
        {{/if}}
        {{stats}}
            <div class="list-group-item">
                    <span class="text-muted">
                        {{#if most_recent_pm}}
                            {{#each most_recent_pm}}
                                PM: <a href="{{profile_for user.username}}">{{user.first_name}} {{user.last_name}}</a>
                            {{/each}}
                        {{else}}
                            No PM
                        {{/if}}
                    </span>
            </div>
        <div class="list-group-item">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col align-content-center my-1">
                    {{#if homepage_url}}
                        {{> projects/link url=homepage_url text="LINKKK" class="primary"}}
                    {{!-- {{else}} --}}
                        {{!-- {{#if is_remote}}
                            <span class="btn btn-outline-danger disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                <i>project URL missing</i>
                            </span>
                        {{else}}
                            {{! project is not remote }}
                            <span class="btn btn-outline-primary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                project is not remote
                            </span>
                        {{/if}} --}}
                    {{/if}}
                </div>

                {{!-- <div class="col align-content-center my-1">
                    {{#if external_presentation_url}}
                        {{! TODO: Support hosted native slides }}
                        {{> projects/link url=external_presentation_url text="Slides" class="info"}}
                    {{else}}
                        <span class="btn btn-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                            Slides unavailable
                        </span>
                    {{/if}}
                </div> --}}

                {{!-- <div class="col align-content-center my-1">
                    {{#if recording_url}}
                        {{> projects/link url=recording_url text="View Recording" class="secondary"}}
                    {{else}}
                        {{#if is_remote}}
                            <span class="btn btn-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                Recording unavailable
                            </span>
                        {{else}}
                            {{! project is not remote }}
                            <span class="btn btn-outline-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                project is not remote
                            </span>
                        {{/if}}
                    {{/if}}
                </div> --}}
            </div>
        </div>
    </div>
</div>






{{!-- <div class="card my-2" id="project-44" style="border-color: var(--project-large_group-bg); border-width: 4px;">
    <h3 class="card-header"
        style="background: var(--project-large_group-bg); color: var(--project-large_group-text); border-radius: 0;"> --}}
        {{!-- {{> projects/title "TEST"}}
        <span class="float-right">

            {{! project-type badge }}
            <span class="badge mr-2 mt-1 h4"
                style="background: var(--project-large_group-bg);
                        color: var(--project-large_group-text);
                        border-color: var(--project-large_group-text);
                        border-width: 2px;
                        border-style: solid;">
                {{!-- {{format_project_type 'large_group"}} --}}
            {{!-- </span>


            <a href="/project/44" class="btn btn-primary">
                View Details
            </a>
        </span>
    </h3>

    <div class="list-group list-group-flush text-dark">

        <div class="list-group-item"> --}}
            {{! If the event does not span multiple days}}
            {{!-- {{#if (eq (format_date start_date_time) (format_date end_date_time))}}
                {{format_date start_date_time}}: {{format_time start_date_time}} to {{format_time end_date_time}}
            {{else}} --}}
                {{!-- Start: 5 at 5 <br>
                End: 5 --}}
            {{!-- {{/if}} --}}
        {{!-- </div> --}}


        {{!-- {{#if location}} --}}
            {{!-- <div class="list-group-item">
                Location: home
            </div> --}}
        {{!-- {{/if}} --}}

        {{!-- {{#if description}} --}}
            {{!-- <div class="list-group-item">
                <small class="text-muted mb-2">
                    User supplied description:
                </small>
                jjjjjjjjjj
            </div> --}}
        {{!-- {{/if}} --}}
{{!-- 
        <div class="list-group-item">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col align-content-center my-1"> --}}
                    {{!-- {{#if project_url}}
                        {{> projects/link url=project_url text="Join" class="primary"}}
                    {{else}}
                        {{#if is_remote}}
                            <span class="btn btn-outline-danger disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                <i>project URL missing</i>
                            </span>
                        {{else}} --}}
                            {{! project is not remote }}
                            {{!-- <span class="btn btn-outline-primary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                project is not remote
                            </span> --}}
                        {{!-- {{/if}}
                    {{/if}} --}}
                {{!-- </div>

                <div class="col align-content-center my-1"> --}}
                    {{!-- {{#if external_presentation_url}}
                        {{! TODO: Support hosted native slides }}
                        {{> projects/link url=external_presentation_url text="Slides" class="info"}}
                    {{else}} --}}
                        {{!-- <span class="btn btn-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                            Slides unavailable
                        </span> --}}
                    {{!-- {{/if}} --}}
                {{!-- </div>

                <div class="col align-content-center my-1"> --}}
                    {{!-- {{#if recording_url}}
                        {{> projects/link url=recording_url text="View Recording" class="secondary"}}
                    {{else}}
                        {{#if is_remote}} --}}
                            {{!-- <span class="btn btn-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                Recording unavailable
                            </span> --}}
                        {{!-- {{else}} --}}
                            {{! project is not remote }}
                            {{!-- <span class="btn btn-outline-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                project is not remote
                            </span>
                        {{!-- {{/if}} --}}
                    {{!-- {{/if}} --}}
                {{!-- </div> --}}
            {{!-- </div> --}}
        {{!-- </div> --}}
    {{!-- </div> --}}
{{!-- </div> --}}