{{#if error}}
    <div class="card bg-danger text-light">
        <h1 class="card-header">
            <em>{{invite.email}}</em> could not be confirmed!
            Invite id: <code>{{invite.invite_id}}</code>
            Error message: <code>{{error}}</code>
        </h1>
    </div>
{{else}}
    <div class="card bg-success text-light">
        <h1 class="card-header">
            <em>{{invite.email}}</em> confirmed!
        </h1>
    </div>
{{/if}}
