<h1> Semester Records </h1>


{{#if data.semesters}}
<div class="table-responsive">
    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th scope="col">Title
                <th scope="col">Start
                <th scope="col">End
                <th scope="col">Project Pitches
                <th scope="col">Meetings
                <th scope="col">Enrollments
            </tr>
        </thead>
        <tbody>
           {{#each data.semesters as | semesters |}}
                <tr>
                    <th scope="row">{{title}}</th>
                    <td>{{format_date start_date}}</td>
                    <td>{{format_date end_date}}</td>
                    {{#with project_pitches_aggregate.aggregate}}
                        <td>
                            <a href="coordinate/semesters/pitches/{{semesters.semester_id}}"/1 class="btn btn-info">
                                {{count}}
                            </a>
                        </td>
                    {{/with}}
                    {{#with meetings_aggregate.aggregate}}
                        <td>
                            <a href="coordinate/semesters/meetings/{{semesters.semester_id}}"/1 class="btn btn-info">
                                {{count}}
                            </a>
                        </td>
                    {{/with}}
                    {{#with enrollments_aggregate.aggregate}}
                        <td>
                            <a href="/coordinate/semesters/enrollments/{{semesters.semester_id}}/1" class="btn btn-info">
                                {{count}}
                            </a>
                        </td>
                    {{/with}}
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
    No current semesters found.
{{/if}}
