{{#if existing_success}}
    <div class="card bg-success text-light">
        <h1 class="card-header">
            <em>{{invite.email}}</em> confirmed!
        </h1>
    </div>
{{else}}
    {{#if existing_error}}
        <div class="card bg-danger text-light">
            <h1 class="card-header">
                <em>{{invite.email}}</em> confirmed!
            </h1>
        </div>
    {{else}}
    {{/if}}
    <div class="card text-dark">
        <h1 class="card-header">
            Sign Up
        </h1>
        <div class="card-body">
            <form method="post">
                <div class="form-group row">
                    <label for="email-input" class="col-md-2 col-form-label">
                        Email Address
                    </label>
                    <div class="col-md-10">
                        <input
                                id="email-input"
                                type="email"
                                name="email"
                            {{#if email}}
                                value="{{email}}"
                            {{else}}
                                placeholder="example@email.org"
                            {{/if}}
                            {{#if error}}
                                class="form-control is-invalid"
                                aria-labelledby="email-invalid"
                            {{else}}
                                class="form-control"
                            {{/if}}
                                required>
                        {{#if error}}
                            <div id="email-invalid" class="invalid-feedback">
                                {{error}}
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group d-block float-right">
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
{{/if}}