<div id="{{id}}-modal"
     class="modal fade"
     data-backdrop="static"
     data-keyboard="false"
     tabindex="-1"
     aria-labelledby="{{id}}-modal-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <header class="modal-header">
                <h5 id="{{id}}-modal-label" class="modal-title">{{text}}</h5>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </header>
            {{{inner}}}
        </div>
    </div>
</div>
