<h1> Create Meeting </h1>
<form method="post">
    {{! Form fields }}
    {{#with form_fields}}
        {{! Title }}
        {{#with title.text_field}}
            {{> forms/common/text_field name=name value=value error=error success=success
                    id="title" label="Meeting Title" type="text"}}
        {{/with}}

        {{! Start Date & Time }}
        <div class="form-group form-row row-cols-1 row-cols-md-5">
            <div class="col">
                {{#with start_date.text_field}}
                    <input type="date"
                           name="{{name}}"

                           {{#if error}}
                               class="form-control is-invalid"
                               aria-labelledby="{{id}}-invalid"
                           {{else}}
                               {{#if success}}
                                   class="form-control is-valid"
                                   aria-labelledby="{{id}}-valid"
                               {{else}}
                                   aria-label="Start Date"
                                   class="form-control"
                               {{/if}}
                           {{/if}}

                           {{#if value}} value="{{value}}" {{/if}}
                    >

                    {{> forms/common/feedback_tooltips id="start-date" error=error success=success}}
                {{/with}}
            </div>

            <div class="col">
                {{#with start_time.text_field}}
                    <input
                            type="time"
                            aria-label="Start Time"
                            id="start-time"
                            name="{{name}}"

                            {{#if error}}
                                class="form-control is-invalid"
                                aria-labelledby="start-time-invalid"
                            {{else}}
                                {{#if success}}
                                    class="form-control is-valid"
                                    aria-labelledby="start-time-valid"
                                {{else}}
                                    aria-label="Start Time"
                                    class="form-control"
                                {{/if}}
                            {{/if}}

                            {{#if value}} value="{{value}}" {{/if}}
                    >

                    {{> forms/common/feedback_tooltips id="start-time" error=error success=success}}
                {{/with}}
            </div>

            <span class="col-form-label col-auto text-center">
                - to -
            </span>

            <div class="col">
                {{#with end_date.text_field}}
                    <input
                            type="date"
                            name="{{name}}"
                            {{#if value}} value="{{value}}" {{/if}}
                            {{#if error}}
                                class="form-control is-invalid"
                                aria-labelledby="end-date-invalid"
                            {{else}}
                                {{#if success}}
                                    class="form-control is-valid"
                                    aria-labelledby="end-date-valid"
                                {{else}}
                                    aria-label="End Date"
                                    class="form-control"
                                {{/if}}
                            {{/if}}
                    >

                    {{> forms/common/feedback_tooltips id="end-date" error=error success=success}}
                {{/with}}
            </div>

            <div class="col">
                {{#with end_time.text_field}}
                    <input
                            type="time"
                            id="start-time"
                            name="{{name}}"

                            {{#if error}}
                                class="form-control is-invalid"
                                aria-labelledby="end-time-invalid"
                            {{else}}
                                {{#if success}}
                                    class="form-control is-valid"
                                    aria-labelledby="end-time-valid"
                                {{else}}
                                    aria-label="End Time"
                                    class="form-control"
                                {{/if}}
                            {{/if}}

                            {{#if value}} value="{{value}}" {{/if}}
                    >

                    {{> forms/common/feedback_tooltips id="end-time" error=error success=success}}
                {{/with}}
            </div>
        </div>

        {{! }}
    {{/with}}

    {{! Submit button }}
    <button class="btn btn-success btn-spinner w-100" type="submit">
        Create Meeting
    </button>
</form>
