{{! Meeting card template -- this is used in the meetings list and on user profiles }}

<div class="card my-2" id="meeting-{{meeting_id}}" style="border-color: var(--meeting-{{type}}-bg); border-width: 4px;">
    <h3 class="card-header"
        style="background: var(--meeting-{{type}}-bg); color: var(--meeting-{{type}}-text); border-radius: 0;">
        {{> meetings/title this}}
        <span class="float-right">

            {{! Meeting-type badge }}
            <span class="badge mr-2 mt-1 h4"
                style="background: var(--meeting-{{type}}-bg);
                        color: var(--meeting-{{type}}-text);
                        border-color: var(--meeting-{{type}}-text);
                        border-width: 2px;
                        border-style: solid;">
                {{format_meeting_type type}}
            </span>

            {{! Draft badge if necessary }}
            {{#if is_draft}}
                <span class="badge mr-2 mt-1 h4 font-italic" style="
                        background: var(--meeting-{{type}}-bg);
                        color: var(--meeting-{{type}}-text);
                        border-color: var(--meeting-{{type}}-text);
                        border-width: 2px;
                        border-style: dashed;">
                    Draft
                </span>
            {{/if}}

            <a href="/meeting/{{meeting_id}}" class="btn btn-primary">
                View Details
            </a>
        </span>
    </h3>

    <div class="list-group list-group-flush text-dark">
        {{#if host}}
            <div class="list-group-item">
                    <span class="text-muted">
                        Hosted by <a href="{{profile_for host.username}}">{{host.first_name}} {{host.last_name}}</a>
                    </span>
            </div>
        {{/if}}

        <div class="list-group-item">
            {{! If the event does not span multiple days}}
            {{#if (eq (format_date start_date_time) (format_date end_date_time))}}
                {{format_date start_date_time}}: {{format_time start_date_time}} to {{format_time end_date_time}}
            {{else}}
                Start: {{format_date start_date_time}} at {{format_time start_date_time}} <br>
                End: {{format_date end_date_time}} {{format_time end_date_time}}
            {{/if}}
        </div>


        {{#if location}}
            <div class="list-group-item">
                Location: {{location}}
            </div>
        {{/if}}

        {{#if description}}
            <div class="list-group-item">
                <small class="text-muted mb-2">
                    User supplied description:
                </small>
                {{render_markdown description}}
            </div>
        {{/if}}

        <div class="list-group-item">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col align-content-center my-1">
                    {{#if meeting_url}}
                        {{> meetings/link url=meeting_url text="Join" class="primary"}}
                    {{else}}
                        {{#if is_remote}}
                            <span class="btn btn-outline-danger disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                <i>Meeting URL missing</i>
                            </span>
                        {{else}}
                            {{! Meeting is not remote }}
                            <span class="btn btn-outline-primary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                Meeting is not remote
                            </span>
                        {{/if}}
                    {{/if}}
                </div>

                <div class="col align-content-center my-1">
                    {{#if external_presentation_url}}
                        {{! TODO: Support hosted native slides }}
                        {{> meetings/link url=external_presentation_url text="Slides" class="info"}}
                    {{else}}
                        <span class="btn btn-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                            Slides unavailable
                        </span>
                    {{/if}}
                </div>

                <div class="col align-content-center my-1">
                    {{#if recording_url}}
                        {{> meetings/link url=recording_url text="View Recording" class="secondary"}}
                    {{else}}
                        {{#if is_remote}}
                            <span class="btn btn-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                Recording unavailable
                            </span>
                        {{else}}
                            {{! Meeting is not remote }}
                            <span class="btn btn-outline-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                Meeting is not remote
                            </span>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
