<h1>RCOS Meetings</h1>

{{! Form for users to filter events to a certain range }}
<form method="get" class="form-inline">
    <label class="sr-only" for="start-input">Start Date</label>
    <div class="input-group mr-2 mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                From
            </div>
        </div>
        <input id="start-input" type="date" name="start" class="form-control" {{#if query.start}} value="{{query.start}}" {{/if}} required>
    </div>

    <label class="sr-only" for="end-input">End Date</label>
    <div class="input-group mr-2 mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                To
            </div>
        </div>

        <input id="end-input" type="date" name="end" class="form-control" {{#if query.end}} value="{{query.end}}" {{/if}} required>
    </div>

    <button type="submit" class="btn btn-primary mb-2">View</button>
</form>

{{#each meetings}}
    <div class="card my-2" id="meeting-{{meeting_id}}" style="border-color: var(--meeting-{{type}}-bg); border-width: 4px;">
        <h3 class="card-header"
            style="background: var(--meeting-{{type}}-bg); color: var(--meeting-{{type}}-text); border-radius: 0;">
            {{#if title}}
                {{title}}
            {{else}}
                {{format_meeting_type type}} {{format_date start_date_time}}
            {{/if}}
            <span class="float-right">
                {{! Meeting-type badge }}
                <h4 class="badge mr-2"
                    style="background: var(--meeting-{{type}}-bg);
                            color: var(--meeting-{{type}}-text);
                            border-color: var(--meeting-{{type}}-text);
                            border-width: 2px;
                            border-style: solid;">
                    {{format_meeting_type type}}
                </h4>

                {{! Page link -- TODO: Replace with perma-link }}
                <a href="#meeting-{{meeting_id}}" style="color: var(--meeting-{{type}}-text);">
                    <i data-feather="link"></i>
                </a>
            </span>
        </h3>

        <div class="list-group list-group-flush text-dark">
            {{#if host}}
                <div class="list-group-item">
                    <span class="text-muted">
                        Hosted by <a href="{{profile_for host.username}}">{{host.first_name}} {{host.last_name}}</a>
                    </span>
                </div>
            {{/if}}

            <div class="list-group-item">
                {{! If the event does not span multiple days}}
                {{#if (eq (format_date start_date_time) (format_date end_date_time))}}
                    {{format_date start_date_time}}: {{format_time start_date_time}} to {{format_time end_date_time}}
                {{else}}
                    Start: {{format_date start_date_time}} at {{format_time start_date_time}} <br>
                    End: {{format_date end_date_time}} {{format_time end_date_time}}
                {{/if}}
            </div>


            {{#if location}}
                <div class="list-group-item">
                    Location: {{location}}
                </div>
            {{/if}}

            {{#if agenda}}
                <div class="list-group-item">
                    <h5>Agenda:</h5>
                    <ul>
                        {{#each agenda}}
                            <li> {{this}} </li>
                        {{/each}}
                    </ul>

                </div>
            {{/if}}

            <div class="list-group-item">
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col align-content-center my-1">
                        {{#if is_remote}}
                            {{#if meeting_url}}
                                {{> meetings/link url=meeting_url text="Join" class="primary"}}
                            {{else}}
                                <span class="btn btn-outline-primary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                    Cannot join meeting
                                </span>
                            {{/if}}
                        {{else}}
                            {{! Meeting is not remote }}
                            <span class="btn btn-outline-primary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                Meeting is not remote
                            </span>
                        {{/if}}
                    </div>

                    <div class="col align-content-center my-1">
                        {{#if external_presentation_url}}
                        {{! TODO: Support hosted native slides }}
                            {{> meetings/link url=external_presentation_url text="Slides" class="secondary"}}
                        {{else}}
                            <span class="btn btn-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                Slides unavailable
                            </span>
                        {{/if}}
                    </div>

                    <div class="col align-content-center my-1">
                        {{#if is_remote}}
                            {{#if recording_url}}
                                {{> meetings/link url=recording_url text="View Recording" class="secondary"}}
                            {{else}}
                                <span class="btn btn-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                    Recording unavailable
                                </span>
                            {{/if}}
                        {{else}}
                            {{! Meeting is not remote }}
                            <span class="btn btn-outline-secondary disabled w-100 h-100 d-flex align-items-center justify-content-center">
                                Meeting is not remote
                            </span>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
