<div class="container-md" role="main">
    <div class="row no-gutters my-4">
        <div class="col-sm-4 mx-auto">
            <img class="card-img my-auto d-block" src="/static/icons/rcos-branding/img/lockup-red.png" alt="RCOS banner">
        </div>
        <div class="col-sm-7">
            <div class="py-2 card text-dark shadow-sm bg-light">
                <div class="card-body">
                    <h4 class="card-title">
                        Mission Statement
                    </h4>
                    <p class="card-text">
                        Our Mission is to cultivate an inclusive, creative, and entrepreneurial
                        community that seeks to empower students to develop open-source
                        solutions to real-world problems.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="card-deck pb-3 border-bottom">
        <div class="card bg-light text-dark border-light">
            <div class="card-body text-center">
                <h3 class="card-title">
                    Developers
                </h3>
                <p class="card-text">
                    We are a group of passionate open source developers at RPI.
                </p>
                <a role="button" class="btn-rcos btn" href="/developers">
                    View Developers
                </a>
            </div>
        </div>
        <div class="card bg-light text-dark border-light">
            <div class="card-body text-center">
                <h3 class="card-title">
                    Projects
                </h3>
                <p class="card-text">
                    We work on a bunch of awesome open source projects.
                </p>
                <a role="button" class="btn btn-rcos" href="/projects">
                    View Projects
                </a>
            </div>
        </div>
        <div class="card bg-light text-dark border-light">
            <div class="card-body text-center">
                <h3 class="card-title">
                    Meetings
                </h3>
                <p class="card-text">
                    When and where do we meet? What do we do there?
                </p>
                <a type="button" class="btn btn-rcos" href="/meetings">
                    Schedule
                </a>
            </div>
        </div>
    </section>

    <div class="row no-gutters my-3">
        <div class="col-sm-8 p-2 pr-4">
            <p>
                RCOS is a group of RPI students who work on  a variety of open source projects, which can be seen on the
                <a href="/projects">projects</a> page. To see our meeting times and presentation schedule, look
                <a href="https://handbook.rcos.io/#/meetings/calendar">here</a>.
                For more thorough information about RCOS, consult the <a href="https://handbook.rcos.io/">RCOS Handbook</a>.
            </p>
            <h4>Benefits of being an RCOS member</h4>
            <ul>
                <li>The opportunity to help society by creating useful open source software.</li>
                <li>An excellent environment to share your skills with your peers and learn from them as well.</li>
                <li>Great practice in the code review process, a very important skill for your software career!</li>
                <li>
                    Practice giving and receiving feedback. Learning how to discuss technical and non-technical
                    aspects of a project in a constructive fashion is a critical skill that employers look for!
                </li>
            </ul>
            <h4>Details</h4>
            <p>
                Students can participate in RCOS for course credit or for a stipend. At the beginning of each semester,
                the Internal Advisory Board will review project proposals and decide which projects should receive
                financial support.
            </p>
            <h4>Contact</h4>
            <p>
                For information and inquiry, please contact us via e-mail at
                <a href="mailto:rcos.management@gmail.com">rcos.management@gmail.com</a>.
            </p>
            <h4>Donations</h4>
            <p>
                RCOS uses funds to financially support open source software development.
                Follow
                <a href="https://securelb.imodules.com/s/1225/giving/index.aspx?sid=1225&gid=1&pgid=1947&cid=4524&appealcode=WGAFP&_ga=1.191668650.1206279174.1408978267">
                    this link
                </a>
                if you can help us out by donating!
            </p>
        </div>
        <div class="col-sm-4">
            <div class="card bg-light text-dark shadow-sm">
                <h4 class="card-header text-center">Statistics</h4>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{current_semester}} Projects:
                        <a class="badge badge-primary" href="/projects">{{active_projects}}</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Total Project Count:
                        <a class="badge badge-secondary" href="/projects">{{total_projects}}</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Students active {{current_semester}}:
                        <a class="badge badge-primary" href="/developers">{{current_students}}</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        User Count:
                        <a class="badge badge-secondary" href="/developers">{{total_users}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>