<h1>RCOS Meetings</h1>

{{! Form for users to filter events to a certain range }}
<form method="get" class="form-inline">
    <label class="sr-only" for="start-input">Start Date</label>
    <div class="input-group mr-2 mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                From
            </div>
        </div>
        <input id="start-input" type="date" name="start" class="form-control" {{#if query.start}} value="{{query.start}}" {{/if}} required>
    </div>

    <label class="sr-only" for="end-input">End Date</label>
    <div class="input-group mr-2 mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                To
            </div>
        </div>

        <input id="end-input" type="date" name="end" class="form-control" {{#if query.end}} value="{{query.end}}" {{/if}} required>
    </div>

    <button type="submit" class="btn btn-primary mb-2">View</button>
</form>

{{#each meetings}}
    <div class="card my-2" id="meeting-{{meeting_id}}">
        <h3 class="card-header text-dark">
            {{#if title}}
                {{title}}
            {{else}}
                {{format_meeting_type type_}} {{format_date start_date_time}}
            {{/if}}
            <span class="float-right">
                <a href="#meeting-{{meeting_id}}">
                    <i data-feather="link"></i>
                </a>
            </span>
        </h3>

        <div class="list-group list-group-flush text-dark">
            {{#if host}}
                <div class="list-group-item">
                    <span class="text-muted">
                        Hosted by <a href="{{profile_for host.username}}">{{host.first_name}} {{host.last_name}}</a>
                    </span>
                </div>
            {{/if}}

            <div class="list-group-item">
                {{! If the event does not span multiple days}}
                {{#if (eq (format_date start_date_time) (format_date end_date_time))}}
                    {{format_date start_date_time}}: {{format_time start_date_time}} to {{format_time end_date_time}}
                {{else}}
                    Start: {{format_date start_date_time}} at {{format_time start_date_time}} <br>
                    End: {{format_date end_date_time}} {{format_time end_date_time}}
                {{/if}}
            </div>


            {{#if location}}
                <div class="list-group-item">
                    Location: {{location}}
                </div>
            {{/if}}

            {{#if agenda}}
                <div class="list-group-item">
                    <h5>Agenda:</h5>
                    <ul>
                        {{#each agenda}}
                            <li> {{this}} </li>
                        {{/each}}
                    </ul>

                </div>
            {{/if}}

            {{#if is_remote}}
                <div class="list-group-item">
                    <div class="row row-cols-1 row-cols-md-3">
                        <div class="col align-content-center my-1">
                            {{#if meeting_url}}
                                <a href="{{meeting_url}}" class="btn btn-primary w-100">Join</a>
                            {{else}}
                                <span class="btn btn-secondary disabled w-100">Cannot join meeting</span>
                            {{/if}}
                        </div>

                        <div class="col align-content-center my-1">
                            {{#if external_presentation_url}}
                            {{! TODO: Support hosted native slides }}
                                <a href="{{external_presentation_url}}" class="btn-secondary btn w-100">Slides</a>
                            {{else}}
                                <span class="btn btn-secondary disabled w-100">Slides unavailable</span>
                            {{/if}}
                        </div>

                        <div class="col align-content-center my-1">
                            {{#if recording_url}}
                                <a href="{{recording_url}}" class="btn btn-secondary w-100">View Recording</a>
                            {{else}}
                                <span class="btn-secondary btn disabled w-100">Recording unavailable</span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

        <div class="card-footer text-dark">
            <span class="text-muted">Meeting ID: {{meeting_id}}</span>
        </div>
    </div>
{{/each}}
