<h1>RCOS Meetings</h1>

{{! Form for users to filter events to a certain range }}
<form method="get" class="form-inline">
    <label class="sr-only" for="start-input">Start Date</label>
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                From
            </div>
        </div>
        <input id="start-input" type="date" name="start" class="form-control">
    </div>

    <label class="sr-only" for="end-input">End Date</label>
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                To
            </div>
        </div>

        <input id="end-input" type="date" name="end" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">View</button>
</form>

{{#each meetings}}
    <div class="card my-2">
        <h3 class="card-header text-dark">
            {{#if title}}
                {{title}}
            {{else}}
                {{format_meeting_type type_}} {{format_date start_date_time}}
            {{/if}}
        </h3>

        <div class="card-body text-dark">
            {{#if host}}
                <span class="text-muted">
                    Hosted by <a href="{{profile_for host.username}}">{{host.first_name}} {{host.last_name}}</a>
                </span>
            {{/if}}

            Start: {{!format_date start_date_time}} {{format_time start_date_time}} <br>
            End: {{!format_date end_date_time}} {{format_time end_date_time}} <br>

        </div>

        <div class="card-footer text-dark">
            <span class="text-muted">Meeting ID: {{meeting_id}}</span>
        </div>
    </div>
{{/each}}
