<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
    <a class="navbar-brand" href="/">RCOS</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav id="navbar" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            {{#each left_items}}
                <li class="nav-item {{#if this.is_active}}active{{/if}}">
                    <a href="{{this.location}}" class="{{this.class}}">
                        {{this.text}}
                    </a>
                </li>
            {{/each}}
        </ul>
        <ul class="navbar-nav">
            {{#each right_items}}
                <li class="nav-item {{#if this.is_active}}active{{/if}}">
                    <a href="{{this.location}}" class="{{this.class}}">
                        {{this.text}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </nav>
</nav>