<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{title}}</title>

        {{! Open Graph Protocol Properties }}
        {{#each og_properties}}
            <meta property="og:{{@key}}" content="{{this}}">
        {{/each}}

        <link rel="stylesheet" href="/static/styles/base.css" type="text/css">
        <link rel="shortcut icon" type="image/png" href="/static/icons/rcos-branding/img/logo-circle-red.png">

        {{! Bootstrap CSS }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

        {{! Bootstrap JS, Popper.js, and jQuery }}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

        {{! Feather icons }}
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

        <!-- Custom JavaScript -->
        <script src="/static/scripts/script.js"></script>
    </head>
    <body class="bg-dark text-light d-flex flex-column min-vh-100">
        <header>
            <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <img src="/static/icons/rcos-branding/img/logo-square-red.png" style="height: 32px;" alt="RCOS Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav id="navbar" class="navbar-collapse collapse">
                    <ul class="navbar-nav mr-auto">
                        {{! Home }}
                        <li class="nav-item {{#if (eq navbar.req_path "/")}} active {{/if}}">
                            <a href="/" class="nav-link">
                                Home
                            </a>
                        </li>

                        {{! Projects }}
                        <li class="nav-item {{#if (eq navbar.req_path "/projects")}} active {{/if}}">
                            <a href="/projects" class="nav-link">
                                Projects
                            </a>
                        </li>

                        {{! Developers }}
                        <li class="nav-item {{#if (eq navbar.req_path "/developers")}} active {{/if}}">
                            <a href="/developers" class="nav-link">
                                Developers
                            </a>
                        </li>

                        {{! Sponsors }}
                        <li class="nav-item {{#if (eq navbar.req_path "/sponsors")}} active {{/if}}">
                            <a href="/sponsors" class="nav-link">
                                Sponsors
                            </a>
                        </li>

                        {{! Meetings }}
                        <li class="nav-item {{#if (eq navbar.req_path "/meetings")}} active {{/if}}">
                            <a href="/meetings" class="nav-link">
                                Meetings
                            </a>
                        </li>

                        {{! The remaining nav links are authentication dependent }}
                        {{! Admin }}
                        {{#if navbar.is_admin}}
                            <li class="nav-item {{#if (eq navbar.req_path "/admin")}} active {{/if}}">
                                <a href="/admin" class="nav-link">
                                    Admin
                                </a>
                            </li>
                        {{/if}}

                        {{! These are commented out since there is no backend yet }}
                        {{!--
                        {{! Coordinator tools }}
                        {{#if (or navbar.is_admin navbar.is_coordinator)}}
                            <li class="nav-item {{#if (eq navbar.req_path "/coordinate")}} active {{/if}}">
                                <a href="/coordinate" class="nav-link">
                                    Coordinate
                                </a>
                            </li>
                        {{/if}}

                        {{! Mentor tools }}
                        {{#if (or (or navbar.is_admin navbar.is_coordinator) navbar.is_mentor)}}
                            <li class="nav-item {{#if (eq navbar.req_path "/mentor")}} active {{/if}}">
                                <a href="/mentor" class="nav-link">
                                    Mentor
                                </a>
                            </li>
                        {{/if}}
                        --}}

                        {{! We'll add attendance at a later date if we support it }}
                    </ul>
                    <ul class="navbar-nav">
                        {{! Handbook link should be available to all users }}
                        <li class="nav-item">
                            <a href="https://handbook.rcos.io" class="btn btn-outline-info mr-2 mb-2" target="_blank" rel="noreferrer noopener">
                                Handbook <i data-feather="external-link" style="height: 1em; width: auto;"></i>
                            </a>
                        </li>

                        {{! If no user is authenticated }}
                        {{#if (eq navbar.variant "unauthenticated")}}
                            {{! Sign in }}
                            <li class="nav-item {{#if (eq navbar.req_path "/login")}} active {{/if}}">
                                <a href="/login" class="btn btn-primary mr-2 mb-2">
                                    Sign In
                                </a>
                            </li>

                            {{! Register new account }}
                            <li class="nav-item {{#if (eq navbar.req_path "/register")}} active {{/if}}">
                                <a href="/register" class="btn btn-success mr-2 mb-2">
                                    Register
                                </a>
                            </li>
                        {{/if}}

                        {{! If in the account creation process }}
                        {{#if (eq navbar.variant "account_creation")}}
                            <li class="nav-item">
                                <a href="/logout" class="btn btn-danger mr-2 mb-2">
                                    Cancel Account Creation
                                </a>
                            </li>
                        {{/if}}

                        {{! If there is a user signed in }}
                        {{#if (eq navbar.variant "authenticated")}}
                            {{! Profile }}
                            <li class="nav-item">
                                <a href="{{profile_for navbar.username}}" class="btn btn-primary mr-2 mb-2">
                                    Profile
                                </a>
                            </li>

                            {{! Logout }}
                            <li class="nav-item">
                                <a href="/logout" class="btn btn-secondary mr-2 mb-2">
                                    Logout
                                </a>
                            </li>
                        {{/if}}

                    </ul>
                </nav>
            </nav>
        </header>
        <div class="container px-1 align-items-center mb-2">
            {{> content }}
        </div>

        <footer class="footer text-center mt-auto py-3 bg-light text-dark">
            {{! Telescope logo }}
            <img src="/static/icons/telescope/v3-black.png"
                 alt="Telescope icon"
                 style="width:48px;height:48px;">
            <br>

            {{! Link to GitHub }}
            <a href="https://github.com/rcos/Telescope/">Telescope</a> {{version}}
            <br>

            {{! Issue tracker }}
            <a href="https://github.com/rcos/Telescope/issues/new/choose">
                Report an issue
            </a> |

            {{! Link rust docs }}
            <a href="/static/internal_docs/telescope/index.html" target="_blank" rel="noreferrer noopener">
                Docs for devs
                <i data-feather="external-link" style="height: 1em; width: auto;"></i>
            </a>
        </footer>
    </body>
</html>
