<div class="container row row-cols-md-2 px-0" role="main">
    <div class="col-md-3 container px-0 pb-2">
        <div class="card text-dark">
            <img src="{{picture}}" alt="Profile Picture" class="card-img">
            <div class="card-body">
                <span class="h2" id="profile-name"> {{user.name}} </span>
                <span class="text-muted">Account created {{created_at}}</span>
            </div>
            {{#if editable}}
                <!-- Button to take us to form -->
                <a href="/profile/{{user.id}}/settings" class="w-auto btn btn-primary">
                    Edit Profile
                </a>
            {{/if}}
        </div>
        <div class="card text-dark mt-2">
            <span class="h4 card-header text-muted">
                Contact
            </span>

            {{!-- Show emails --}}
            {{#each public_emails}}
                <div class="p-1">
                    <i data-feather="mail"></i>
                    <a href="mailto:{{email}}">{{email}}</a>
                </div>
            {{else}}
                <div class="p-1">
                    <i data-feather="mail"></i>
                    No public emails.
                </div>
            {{/each}}

            {{!-- Show GitHub link --}}
            {{#if user.github_link}}
                <div class="p-1">
                    <i data-feather="github"></i>
                    <a href="{{user.github_link}}">{{user.github_link}}</a>
                </div>
            {{else}}
                <div class="p-1">
                    <i data-feather="github"></i>
                    GitHub not linked.
                </div>
            {{/if}}
        </div>
    </div>
    <div class="col-md-9 container">
        <div class="card text-dark">
            <span class="h4 card-header text-muted">Bio</span>
            <div class="card-body">
                {{{bio}}}
            </div>
        </div>
    </div>
</div>