<h1>Semester Records</h1>

{{! Pagination }}
{{> pagination/pagination_bar pagination=pagination prefix="./"}}

{{! Semester Creation link }}
<a class="btn btn-primary w-100 mb-1" href="/admin/semesters/create">Create Semester</a>

{{! Display actual data in a table}}
{{#if data.semesters}}
    <div class="table-responsive">
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Enrollments</th>
                    <th scope="col">Projects</th>
                    <th scope="col">Meetings</th>
                </tr>
            </thead>

            <tbody>
                {{#each data.semesters}}
                    <tr>
                        <th scope="row">{{title}}</th>
                        <td>{{format_date start_date}}</td>
                        <td>{{format_date end_date}}</td>

                        {{! Stats }}

                        {{! Enrollment count }}
                        <td class="text-center">
                            {{#with enrollments_aggregate.aggregate}}
                                {{count}}
                            {{else}}
                                unavailable
                            {{/with}}
                        </td>

                        {{! Project count }}
                        <td class="text-center">
                            {{#with projects.aggregate}}
                                {{count}}
                            {{else}}
                                unavailable
                            {{/with}}
                        </td>

                        {{! Meetings by semester link }}
                        <td>
                            {{#if meetings_aggregate.aggregate}}
                                {{! Link to meetings by semester in coordinator page }}
                                <a href="/coordinate/{{semester_id}}/meetings" class="w-100 btn btn-info">
                                    {{meetings_aggregate.aggregate.count}}
                                </a>
                            {{else}}
                                unavailable
                            {{/if}}
                        </td>

                        {{! Edit semester link }}
                        <td>
                            <a href="/admin/semesters/edit/{{semester_id}}" class="btn btn-primary w-100">
                                Edit
                            </a>
                        </td>

                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    No semester records found.
{{/if}}
