<h1>Semester Records</h1>

{{! Pagination }}
{{> pagination/pagination_bar pagination=pagination prefix="./"}}

{{! Semester Creation link }}
<a class="btn btn-primary w-100 mb-1" href="/admin/semesters/create">Create Semester</a>

{{! Display actual data in a table}}
{{#if data.semesters}}
    <div class="table-responsive">
        <table class="table table-striped table-light">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col"><button class="btn btn-info">Enrollments</th>
                    <th scope="col"><button class="btn btn-info">Projects</th>
                </tr>
            </thead>

            <tbody>
                {{#each data.semesters}}
                    <tr>
                        <th scope="row">{{title}}</th>
                        <td>{{format_date start_date}}</td>
                        <td>{{format_date end_date}}</td>

                        {{! Stats }}

                        {{#with enrollments_aggregate.aggregate}}
                            <td>{{count}}</td>
                        {{else}}
                            <td>unavailable</td>
                        {{/with}}

                        {{#with projects.aggregate}}
                            <td>{{count}}</td>
                        {{else}}
                            <td>unavailable</td>
                        {{/with}}

                        <td>
                            <a href="/admin/semesters/edit/{{semester_id}}" class="btn btn-primary">
                                Edit
                            </a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    No semester records found.
{{/if}}
