<div class="form-group row">
    <label for="{{id}}" class="col-md-2 col-form-label">
        {{label}}
    </label>
    <div class="col-md-10">
        <input
                id="{{id}}"
                type="email"
                name="{{name}}"
            {{#if prefill}}
                value="{{prefill}}"
            {{else}}
                placeholder="example@email.org"
            {{/if}}
            {{#if error}}
                class="form-control is-invalid"
                aria-labelledby="{{id}}-invalid"
            {{else}}
                class="form-control"
            {{/if}}
                required>
        {{#if error}}
            <div id="{{id}}-invalid" class="invalid-feedback">
                {{error}}
            </div>
        {{/if}}
    </div>
</div>