<h1>Developers</h1>

{{! Form to filter users -- use the action attribute to prevent queries from a later page indexing incorrectly }}
<form method="get" class="mb-2 form-inline" action="/developers">
    <div class="input-group mr-2">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <i data-feather="search"></i>
            </div>
        </div>
        <input type="text" name="search" class="form-control" placeholder="Search..." aria-label="Search"
            {{#with query.search}} value="{{this}}" {{/with}}
        >
    </div>

    <div class="form-check mr-2">
        <input class="form-check-input" type="checkbox" name="include_old" id="include-old" value="true"
            {{#if query.include_old}} checked {{/if}}
        >
        <label for="include-old" class="form-check-label">
            Include previous members
        </label>
    </div>

    <button class="btn btn-primary" type="submit">View</button>
</form>

{{! Pagination buttons }}
{{#with pagination}}
    <nav aria-label="Page Navigation">
        <ul class="pagination justify-content-center">
            {{! If after the first page }}
            {{#if (lt first current) }}
                <li class="page-item">
                    <a class="page-link" href="/developers/{{first}}?{{../preserved_query_string}}">
                        {{first}}
                    </a>
                </li>
            {{/if}}

            {{! Left separator if necessary }}
            {{#if left_sep}}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {{/if}}

            {{! If first is before previous page, make previous page link }}
            {{#if (gt prev first)}}
                <li class="page-item">
                    <a class="page-link" href="/developers/{{prev}}?{{../preserved_query_string}}">
                        {{prev}}
                    </a>
                </li>
            {{/if}}

            {{! Current page }}
            <li class="page-item active" aria-current="page">
                <span class="page-link">
                    {{current}}
                    <span class="sr-only">(current)</span>
                </span>
            </li>

            {{! Next page if not last }}
            {{#if (lt next last)}}
                <li class="page-item">
                    <a class="page-link" href="/developers/{{next}}?{{../preserved_query_string}}">
                        {{next}}
                    </a>
                </li>
            {{/if}}

            {{! Right separator if necessary }}
            {{#if right_sep }}
                <li class="page-item disabled">
                    <span class="page-link">...</span>
                </li>
            {{/if}}

            {{! Last page (if necessary) }}
            {{#if (gt last current)}}
                <li class="page-item">
                    <a class="page-link" href="/developers/{{last}}?{{../preserved_query_string}}">
                        {{last}}
                    </a>
                </li>
            {{/if}}
        </ul>
    </nav>
{{/with}}

{{! User info }}
{{#each data.users}}
    <div class="my-2 card text-dark">
        <div class="card-header">
            <h3 class="card-title">
                {{first_name}} {{last_name}}

                <span class="float-right">
                    <a class="btn btn-primary" href="{{profile_for username}}">
                        Profile
                    </a>
                </span>
            </h3>
        </div>

        <div class="card-body">

        </div>
    </div>
{{else}}
    {{! No users -- display a message }}
    <div class="justify-content-center">
        Could not find any users matching these parameters.

        {{! Additional message on only current users }}
        {{#unless query.include_old}}
            Perhaps the current semester is over or there have not been any recorded enrollments yet. You can check the
            box above to include all RCOS members from previous semesters.
        {{/unless}}
    </div>
{{/each}}


{{!--
<div class="row row-cols-lg-5 row-cols-sm-1 row-cols-md-3">
    {{#each users}}
        <div class="col p-2">
            <a class="card h-100 text-dark" href="/profile/{{username}}">
                <img src="{{pfp}}" alt="Profile Picture" class="card-img-top">
                <div class="card-body card-text">
                    <div class="card-title text-center h5">
                        {{fist_name}} {{last_name}}
                    </div>
                </div>
            </a>
        </div>
    {{/each}}
</div>
--}}
