{{! Everything is sourced from the API response data currently }}
{{#with data}}
    <div class="row justify-content-between">
        <h1 class="col-12 col-md-auto">{{target.first_name}} {{target.last_name}}</h1>

        {{! Edit profile link }}
        {{#if (and viewer.[0].username (eq target.username viewer.[0].username))}}
            <div class="col-12 col-md-3 d-flex align-items-center">
                <a class="btn btn-primary w-100 my-1" href="/edit_profile">
                    Edit Profile
                </a>
            </div>
        {{/if}}
    </div>

    {{! User Role }}
    <span class="badge badge-info">{{format_user_role target.role}}</span>

    {{! Cohort info }}
    {{#if target.cohort}}
        <span class="badge" style="background: var(--rpi-red);">
            RPI freshman class of {{target.cohort}}
        </span>
    {{/if}}

    {{! Created at }}
    <br>
    <span class="text-muted">
        Account created {{format_date target.created_at}} {{format_time target.created_at}}
    </span>

    {{! Account info -- RPI email, etc (Only visible to authenticated users)}}
    {{#if viewer.[0].username}}
        <h3 class="mt-2">User Info</h3>

        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 mt-2">

            {{! RPI CAS }}
            <div class="col">
                <div class="card text-dark text-center">
                    <h5 class="card-header">RPI E-Mail</h5>
                    <div class="card-body p-1">
                        {{! If the user has linked RPI CAS }}
                        {{#if target.rcs_id.[0]}}
                            {{! Show the email }}
                            {{#with target.rcs_id.[0]}}
                                <a href="mailto:{{account_id}}@rpi.edu">
                                    {{account_id}}@rpi.edu
                                </a>
                            {{/with}}

                            {{! If the target is the viewer link to the unlink handler }}
                            {{#if (eq viewer.[0].username target.username)}}
                                <a href="/unlink/rpi_cas" class="btn btn-danger w-100 mt-1">
                                    Unlink this RPI CAS
                                </a>
                            {{/if}}
                        {{else}}
                            {{! Show a message indicating not linked and let the user link if it's their account. }}
                            RPI e-mail not linked.
                            {{#if (eq viewer.[0].username target.username)}}
                                <a href="/link/rpi_cas" class="btn btn-primary w-100">
                                    Link with RPI CAS.
                                </a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>

            {{! Discord }}
            <div class="col">
                <div class="card text-dark text-center">
                    <div class="card-header">
                        <span class="fab">&#xf392;</span>
                    </div>

                    <div class="card-body p-1">
                        {{#if ../discord.target}}
                            {{! Discord is linked -- check if the discord info was successfully retieved. }}
                            {{#if ../discord.target.errored}}
                                Could not get discord info. Refresh the page perhaps?
                            {{else}}
                                {{! Display info about target user's Discord }}
                                <div class="w-50 mx-auto">
                                    <img src="{{../discord.target.resolved.face}}" alt="Discord Profile Picture" class="img-thumbnail">
                                    <p class="font-weight-bold">
                                        {{../discord.target.resolved.tag}}
                                    </p>
                                </div>
                            {{/if}}

                            {{! Check if user owns this account }}
                            {{#if (eq viewer.[0].username target.username)}}
                                {{! Allow owner to unlink dead Discord }}
                                <a href="/unlink/discord" class="btn btn-danger w-100">
                                    Unlink Discord

                                    <span class="fab">&#xf392;</span>
                                </a>
                            {{/if}}
                        {{else}}
                            {{! Show message indicating not linked }}
                            No Discord account linked.

                            {{! Allow viewer to link their own discord if it's their account }}
                            {{#if (eq viewer.[0].username target.username)}}
                                <a href="/link/discord" class="btn btn-discord w-100">
                                    Link Discord

                                    <span class="fab">&#xf392;</span>
                                </a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{! Enrollments }}
    <div class="row justify-content-between">
        <h3 class="mt-2 col-md-auto">
            Enrollments
        </h3>
        <div class="col-md-3 d-flex align-items-center">
            <a class="btn btn-primary w-100 my-1" href="/manage_enrollments">Manage enrollments</button>
        </div>
    </div>
    {{#each target.enrollments}}
        <div class="card mt-1 text-dark">
            <div class="card-header">
                <h4 class="card-title">{{semester.title}}</h4>
            </div>
            <div class="card-body">
                {{! Badges }}
                {{! Coordinating }}
                {{#if is_coordinator}}
                    <span class="badge badge-primary">Coordinator</span>
                {{/if}}

                {{! Mentoring }}
                {{#each semester.small_groups}}
                    <span class="badge badge-info">{{title}} mentor</span>
                {{else}}
                    {{! No render }}
                {{/each}}

                <br>
                {{! Project info }}
                {{#if project.title}}
                    {{project.title}}
                    {{#if is_project_lead}}
                        · <span class="badge badge-success">Project Lead</span>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{else}}
        No enrollment history.
    {{/each}}

    {{! Meetings the user has hosted }}
    {{! Include drafts if the viewer can see them }}
    {{#if (or
              (eq viewer.[0].username target.username)
              (or viewer.[0].is_current_coordinator.[0].is_coordinator
                  (or
                      (eq viewer.[0].role "sysadmin")
                      (eq viewer.[0].role "faculty_advisor"))))}}

        {{! Include drafts }}
        {{#if target.hosting}}
            <h3 class="mt-3">Meetings Hosted</h3>
            {{#each target.hosting}}
                {{> meetings/card this}}
            {{/each}}
        {{/if}}

    {{else}}
        {{! Do not include drafts }}
        {{#if (gt target.public_meetings_hosted.aggregate.count 0)}}
            <h3 class="mt-3">Meetings Hosted</h3>
            {{#each target.hosting}}
                {{> meetings/card this}}
            {{/each}}
        {{/if}}
    {{/if}}
{{/with}}
