<h1>{{target.first_name}} {{target.last_name}}</h1>
<span class="text-muted">
    Account created {{format_date target.created_at}} {{format_time target.created_at}}
</span>

{{! Account info -- RPI email, etc (Only visible to authenticated users)}}
{{#if viewer_username}}
    <h3 class="mt-2">User Info</h3>

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 mt-2">
        <div class="col">
            <div class="card text-dark text-center">
                <h5 class="card-header">RPI E-Mail</h5>
                <div class="card-body p-1">
                    {{! If the user has an email associated }}
                    {{#if target.rcs_id.[0]}}
                        {{! Link the email }}
                        {{#with target.rcs_id.[0]}}
                            <a href="mailto:{{account_id}}@rpi.edu">
                                {{account_id}}@rpi.edu
                            </a>
                        {{/with}}

                        {{! If the target is the viewer link to the unlink handler }}
                        {{#if (eq viewer_username target.username)}}
                            <a href="/unlink/rpi_cas" class="btn btn-danger w-100 mt-1">
                                Unlink this e-mail
                            </a>
                        {{/if}}
                    {{else}}
                        {{! Show a message indicating not linked and let the user link if it's their account. }}
                        RPI e-mail not linked.
                        {{#if (eq viewer_username target.username)}}
                            <a href="/link/rpi_cas" class="btn btn-primary w-100">
                                Link with RPI CAS.
                            </a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{! Meetings the user has hosted }}
{{#with target.hosting}}
    <h3 class="mt-2">Meetings Hosted</h3>
    {{#each self}}
        <div class="card mt-2">
            {{! TODO: MEETING CARDS }}
        </div>
    {{/each}}
{{/with}}
