{{! Everything is sourced from the API response data currently }}
{{#with data}}
    <div class="row justify-content-between">
        <h1 class="col-12 col-md-auto">{{target.first_name}} {{target.last_name}}</h1>

        {{! Edit profile link }}
        {{#if (and viewer.[0].username (eq target.username viewer.[0].username))}}
            <div class="col-12 col-md-3 d-flex align-items-center">
                <a class="btn btn-primary w-100 my-1" href="/edit_profile">
                    Edit Profile
                </a>
            </div>
        {{/if}}
    </div>
    <span>{{format_user_role target.role}}</span>
    <br>
    <span class="text-muted">
        Account created {{format_date target.created_at}} {{format_time target.created_at}}
    </span>

    {{! Account info -- RPI email, etc (Only visible to authenticated users)}}
    {{#if viewer.[0].username}}
        <h3 class="mt-2">User Info</h3>

        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 mt-2">
            <div class="col">
                <div class="card text-dark text-center">
                    <h5 class="card-header">RPI E-Mail</h5>
                    <div class="card-body p-1">
                        {{! If the user has an email associated }}
                        {{#if target.rcs_id.[0]}}
                        {{! Link the email }}
                            {{#with target.rcs_id.[0]}}
                                <a href="mailto:{{account_id}}@rpi.edu">
                                    {{account_id}}@rpi.edu
                                </a>
                            {{/with}}

                            {{! If the target is the viewer link to the unlink handler }}
                            {{#if (eq viewer.[0].username target.username)}}
                                <a href="/unlink/rpi_cas" class="btn btn-danger w-100 mt-1">
                                    Unlink this RPI CAS
                                </a>
                            {{/if}}
                        {{else}}
                        {{! Show a message indicating not linked and let the user link if it's their account. }}
                            RPI e-mail not linked.
                            {{#if (eq viewer.[0].username target.username)}}
                                <a href="/link/rpi_cas" class="btn btn-primary w-100">
                                    Link with RPI CAS.
                                </a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{! Enrollments }}
    <h3 class="mt-2">
        Enrollments
    </h3>
    {{#each target.enrollments}}
        <div class="card mt-1 text-dark">
            <div class="card-header">
                <h4 class="card-title">{{semester.title}}</h4>
            </div>
            <div class="card-body">
                {{! Badges }}
                {{! Coordinating }}
                {{#if is_coordinator}}
                    <span class="badge badge-primary">Coordinator</span>
                {{/if}}

                {{! Mentoring }}
                {{#each semester.small_groups}}
                    <span class="badge badge-info">{{title}} mentor</span>
                {{else}}
                    {{! No render }}
                {{/each}}

                <br>
                {{! Project info }}
                {{#if project.title}}
                    {{project.title}}
                    {{#if is_project_lead}}
                        · <span class="badge badge-success">Project Lead</span>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    {{else}}
        No enrollment history.
    {{/each}}


    {{! Meetings the user has hosted }}
    {{#if target.hosting}}
        <h3 class="mt-3">Meetings Hosted</h3>
        {{#each target.hosting}}
            {{! There should be no drafts in here }}
            {{> meetings/card this}}
        {{/each}}
    {{/if}}
{{/with}}
