<h1>{{name}}</h1>
<span class="text-muted">Account created {{created_at}}</span>
<div class="row row-cols-1 row-cols-lg-4 mt-2">
    {{! If the user has coordinating or mentoring history }}
    {{# if (or coordinating mentoring)}}
        <div class="col">
            {{! The user's coording history }}
            {{#if coordinating}}
                <div class="card text-dark mb-2">
                    <h3 class="card-header">Coordinating</h3>
                    <div class="card-body">
                        {{#each coordinating}}
                            {{semester.title}} <br>
                        {{/each}}
                    </div>
                </div>
            {{/if}}

            {{! The user's mentoring history}}
            {{#if mentoring}}
                <div class="card text-dark">
                    <h3 class="card-header">Mentoring</h3>
                    <div class="card-body">
                        {{#each mentoring}}
                            {{#with small_group}}
                                {{semester.title}}: Small group {{small_group_id}} <br>
                            {{/with}}
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        </div>
    {{/if}}
</div>
