{{! User settings form. Users can change their name and role here }}

<div class="row justify-content-center no-gutters">
    <div class="text-dark card col-sm-10 col-md-7 col-lg-6 col-xl-4">
        <div class="card-header">
            <h1>Edit Profile</h1>
        </div>

        <div class="card-body">
            <form method="post">
                {{! First name }}
                <div class="form-group">
                    <label for="first-name-input">
                        First name:
                    </label>

                    <input name="first_name" type="text" id="first-name-input" value="{{context.first_name}}"
                           {{#if issues.first_name}} class="form-control is-invalid" aria-labelledby="first-name-invalid" {{else}} class="form-control" {{/if}}
                           required>

                    {{#if issues.first_name}}
                        <span id="first-name-invalid" class="invalid-feedback">
                            {{issues.first_name}}
                        </span>
                    {{/if}}
                </div>

                {{! Last name }}
                <div class="form-group">
                    <label for="last-name-input">Last name:</label>

                    <input type="text" name="last_name" id="last-name-input" value="{{context.last_name}}"
                           {{#if issues.last_name}} class="form-control is-invalid" aria-labelledby="last-name-invalid" {{else}} class="form-control" {{/if}}
                           required>

                    {{#if issues.last_name}}
                        <span id="last-name-invalid" class="invalid-feedback">
                            {{issues.last_name}}
                        </span>
                    {{/if}}
                </div>

                {{! Role }}
                <div class="form-group">
                    <label for="role-select">Role:</label>

                    <select class="form-control" id="role-select" name="role" aria-describedby="role-description" required>
                        {{#each roles}}
                            <option value="{{@key}}" {{#if (eq @key ../context.role)}}selected{{/if}} {{#if (not this)}}disabled{{/if}}>
                                {{format_user_role @key}}
                            </option>
                        {{/each}}
                    </select>

                    <small class="form-text text-muted" id="role-description">
                        Some roles are only available to more privileged users. External users must link an RCS ID
                        before changing to an internal role (such as student or alum).
                    </small>
                </div>

                {{! Cohort }}
                <div class="form-group">
                    <label for="cohort-input">Entry year:</label>

                    {{! Entry Year. Minimum 1824 (RPI founded). Max: Current year. }}
                    <input aria-describedby="cohort-description" name="cohort" id="cohort-input" class="form-control"
                           type="number" min="1824" max="{{max_entry_year}}" value="{{context.cohort}}"
                           {{! Diabled on no RCS ID }}
                           {{#if (not context.rcs_id.[0]._id)}}disabled{{/if}}>

                    <small id="cohort-description" class="form-text text-muted">
                        Entry year is only available to users with RPI CAS linked.
                    </small>
                </div>

                <div class="d-flex mb-2">
                    <a href="/user?username={{context.username}}" class="mr-2 btn w-50 btn-secondary">Cancel</a><a href="/profile_delete" class="btn w-50 btn-danger">Delete profile</a>
                </div>

                <button type="submit" class="btn w-100 btn-success">
                    Save changes
                </button>
            </form>
        </div>
    </div>
</div>
